<footer class="footer">
  <div class="u-wrapper">
    <div class="footer-content">
      <div class="footer-primary">
        <ul class="footer-menu">
          <li>
            <a href="#buy">
              COMPRAR
            </a>
          </li>
          <li>
            <a href="#suscribirme">
              Suscribirme
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-social">
        <a href="https://github.com/jcitalan/django_portal_wallpapers.git" class="github"></a>
      </div>
    </div>
  </div>
</footer>